body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(66, 115, 248);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #495057;
    border-radius: 5px;
}

.content-section {
    max-width: 1000px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-section h2 {
    color: #007bff;
}

.responsive-img {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.machine-details {
    margin-top: 20px;
}

.machine-details img {
    width: 50%;
    margin-top: 10px;
}

input[type="text"] {
    width: calc(100% - 110px);
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
.sidebar {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #343a40;
    color: #fff;
    position: relative;
    width: 100%;
    bottom: 0;
}
